openapi: 3.0.1
info:
  contact:
    name: Emby Developers
    url: https://emby.media/community/index.php?/forum/47-developer-api
  description: Explore the Emby Server API
  termsOfService: https://emby.media/terms
  title: Emby Server API
  version: 4.1.1.0
externalDocs:
  description: API Documentation Wiki
  url: https://github.com/MediaBrowser/Emby/wiki
servers:
- description: OURFLIX
  url: https://home.ourflix.de:32865/emby
tags:
- name: ArtistsService
- name: TagService
- name: ChannelService
- name: CollectionService
- name: DeviceService
- name: GameGenresService
- name: GenresService
- externalDocs:
    description: "API Documentation: Item Information"
    url: https://github.com/MediaBrowser/Emby/wiki/Item-Information
  name: ItemsService
- externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
  name: LibraryService
- name: MusicGenresService
- name: OfficialRatingService
- name: OpenApiService
- name: PackageService
- name: PersonsService
- externalDocs:
    description: "API Documentation: Playlists"
    url: https://github.com/MediaBrowser/Emby/wiki/Playlists
  name: PlaylistService
- name: PluginService
- name: ScheduledTaskService
- externalDocs:
    description: "API Documentation: Remote control"
    url: https://github.com/MediaBrowser/Emby/wiki/Remote-control
  name: SessionsService
- name: StudiosService
- name: TrailersService
- name: UserService
- externalDocs:
    description: "API Documentation: Images"
    url: https://github.com/MediaBrowser/Emby/wiki/Images
  name: ImageService
- name: InstantMixService
- name: BrandingService
- name: ConnectService
- name: DisplayPreferencesService
- name: DlnaService
- name: EnvironmentService
- name: GamesService
- name: ImageByNameService
- name: RemoteImageService
- name: FilterService
- name: ItemUpdateService
- externalDocs:
    description: "API Documentation: Video streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Video-Streaming
  name: VideoService
- name: LibraryStructureService
- name: MediaInfoService
- externalDocs:
    description: "API Documentation: Live TV"
    url: https://github.com/MediaBrowser/Emby/wiki/Live-TV
  name: LiveTvService
- name: LocalizationService
- name: MoviesService
- name: NewsService
- name: NotificationsService
- name: ReportsService
- name: SearchService
- name: PlaystateService
- name: TvShowsService
- externalDocs:
    description: "API Documentation: Sync"
    url: https://github.com/MediaBrowser/Emby/wiki/Sync
  name: SyncService
- name: ConfigurationService
- name: SystemService
- name: UserActivityAPI
- name: VideosService
- name: HlsSegmentService
- name: DashboardService
- externalDocs:
    description: "API Documentation: Audio streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Audio-Streaming
  name: UniversalAudioService
- externalDocs:
    description: "API Documentation: Audio streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Audio-Streaming
  name: AudioService
- externalDocs:
    description: "API Documentation: Http Live Streaming"
    url: https://github.com/MediaBrowser/Emby/wiki/Http-Live-Streaming
  name: DynamicHlsService
- name: DlnaServerService
- name: EncodingInfoService
- name: ItemLookupService
- name: ItemRefreshService
- name: BifService
- externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
  name: UserLibraryService
- name: ActivityLogService
- name: SuggestionsService
- externalDocs:
    description: "API Documentation: Browsing the Library"
    url: https://github.com/MediaBrowser/Emby/wiki/Browsing-the-Library
  name: UserViewsService
- name: VideoHlsService
- name: ServerApiEndpoints
- name: SubtitleService
paths:
  /Artists:
    get:
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Items by name"
        url: https://github.com/MediaBrowser/Emby/wiki/Items-by-name
      operationId: getArtists
      parameters:
      - description: Artist or AlbumArtist
        explode: true
        in: query
        name: ArtistType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MaxOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items with theme songs.
        explode: true
        in: query
        name: HasThemeSong
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with theme videos.
        explode: true
        in: query
        name: HasThemeVideo
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with subtitles.
        explode: true
        in: query
        name: HasSubtitles
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with special features.
        explode: true
        in: query
        name: HasSpecialFeature
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with trailers.
        explode: true
        in: query
        name: HasTrailer
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional. Return items that are siblings of a supplied item.
        explode: true
        in: query
        name: AdjacentTo
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by minimum index number.
        explode: true
        in: query
        name: MinIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by minimum number of game players.
        explode: true
        in: query
        name: MinPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by maximum number of game players.
        explode: true
        in: query
        name: MaxPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by parent index number.
        explode: true
        in: query
        name: ParentIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by items that have or do not have a parental
          rating
        explode: true
        in: query
        name: HasParentalRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are HD or not.
        explode: true
        in: query
        name: IsHD
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: LocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeLocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are missing episodes or not.
        explode: true
        in: query
        name: IsMissing
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are unaired episodes or not.
        explode: true
        in: query
        name: IsUnaired
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by minimum community rating.
        explode: true
        in: query
        name: MinCommunityRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: Optional filter by minimum critic rating.
        explode: true
        in: query
        name: MinCriticRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: "Gets all episodes that aired during a season, including specials."
        explode: true
        in: query
        name: AiredDuringSeason
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSaved
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSavedForUser
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum premiere date. Format = ISO
        explode: true
        in: query
        name: MaxPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that have an overview or not.
        explode: true
        in: query
        name: HasOverview
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have an imdb id or not.
        explode: true
        in: query
        name: HasImdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tmdb id or not.
        explode: true
        in: query
        name: HasTmdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tvdb id or not.
        explode: true
        in: query
        name: HasTvdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        explode: true
        in: query
        name: StartIndex
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The maximum number of records to return
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        explode: true
        in: query
        name: Recursive
        required: false
        schema:
          type: boolean
        style: form
      - description: "Sort Order - Ascending,Descending"
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        explode: true
        in: query
        name: ParentId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        explode: true
        in: query
        name: Fields
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: IncludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        explode: true
        in: query
        name: AnyProviderIdEquals
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        explode: true
        in: query
        name: Filters
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are marked as favorite, or not."
        explode: true
        in: query
        name: IsFavorite
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsMovie
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsSeries
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for news.
        explode: true
        in: query
        name: IsNews
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for kids.
        explode: true
        in: query
        name: IsKids
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for sports.
        explode: true
        in: query
        name: IsSports
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by MediaType. Allows multiple, comma delimited."
        explode: true
        in: query
        name: MediaTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        explode: true
        in: query
        name: ImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are played, or not."
        explode: true
        in: query
        name: IsPlayed
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Genres
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: OfficialRatings
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: Years
        required: false
        schema:
          type: string
        style: form
      - description: "Optional, include image information in output"
        explode: true
        in: query
        name: EnableImages
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, include user data"
        explode: true
        in: query
        name: EnableUserData
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, the max number of images to return, per image type"
        explode: true
        in: query
        name: ImageTypeLimit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The image types to include in the output.
        explode: true
        in: query
        name: EnableImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: Person
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: PersonIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        explode: true
        in: query
        name: PersonTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Studios
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: StudioIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Artists
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: ArtistIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Albums
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        explode: true
        in: query
        name: Ids
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by Container. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: Containers
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: AudioCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SubtitleCodecs
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by Path.
        explode: true
        in: query
        name: Path
        required: false
        schema:
          type: string
        style: form
      - description: User Id
        explode: true
        in: query
        name: UserId
        required: false
        schema:
          format: guid
          type: string
        style: form
      - description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MinOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are locked.
        explode: true
        in: query
        name: IsLocked
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are placeholders
        explode: true
        in: query
        name: IsPlaceHolder
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have official ratings
        explode: true
        in: query
        name: HasOfficialRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Whether or not to hide items behind their boxsets.
        explode: true
        in: query
        name: GroupItemsIntoCollections
        required: false
        schema:
          type: boolean
        style: form
      - description: "Optional filter by items that are 3D, or not."
        explode: true
        in: query
        name: Is3D
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SeriesStatus
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        explode: true
        in: query
        name: NameStartsWithOrGreater
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally than a
          given input string.
        explode: true
        in: query
        name: NameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is equally or lesser than
          a given input string.
        explode: true
        in: query
        name: NameLessThan
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
          description: Operation successful. Returning a QueryResult<BaseItemDto>
            object.
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      summary: "Gets all artists from a given item, folder, or the entire library"
      tags:
      - ArtistsService
      x-RequiredAuthentication: Requires authentication as user
    summary: "Gets all artists from a given item, folder, or the entire library"
  /AudioCodecs:
    get:
      description: No authentication required
      operationId: getAudiocodecs
      parameters:
      - description: Artist or AlbumArtist
        explode: true
        in: query
        name: ArtistType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MaxOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items with theme songs.
        explode: true
        in: query
        name: HasThemeSong
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with theme videos.
        explode: true
        in: query
        name: HasThemeVideo
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with subtitles.
        explode: true
        in: query
        name: HasSubtitles
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with special features.
        explode: true
        in: query
        name: HasSpecialFeature
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with trailers.
        explode: true
        in: query
        name: HasTrailer
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional. Return items that are siblings of a supplied item.
        explode: true
        in: query
        name: AdjacentTo
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by minimum index number.
        explode: true
        in: query
        name: MinIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by minimum number of game players.
        explode: true
        in: query
        name: MinPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by maximum number of game players.
        explode: true
        in: query
        name: MaxPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by parent index number.
        explode: true
        in: query
        name: ParentIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by items that have or do not have a parental
          rating
        explode: true
        in: query
        name: HasParentalRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are HD or not.
        explode: true
        in: query
        name: IsHD
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: LocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeLocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are missing episodes or not.
        explode: true
        in: query
        name: IsMissing
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are unaired episodes or not.
        explode: true
        in: query
        name: IsUnaired
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by minimum community rating.
        explode: true
        in: query
        name: MinCommunityRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: Optional filter by minimum critic rating.
        explode: true
        in: query
        name: MinCriticRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: "Gets all episodes that aired during a season, including specials."
        explode: true
        in: query
        name: AiredDuringSeason
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSaved
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSavedForUser
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum premiere date. Format = ISO
        explode: true
        in: query
        name: MaxPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that have an overview or not.
        explode: true
        in: query
        name: HasOverview
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have an imdb id or not.
        explode: true
        in: query
        name: HasImdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tmdb id or not.
        explode: true
        in: query
        name: HasTmdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tvdb id or not.
        explode: true
        in: query
        name: HasTvdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        explode: true
        in: query
        name: StartIndex
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The maximum number of records to return
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        explode: true
        in: query
        name: Recursive
        required: false
        schema:
          type: boolean
        style: form
      - description: "Sort Order - Ascending,Descending"
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        explode: true
        in: query
        name: ParentId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        explode: true
        in: query
        name: Fields
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: IncludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        explode: true
        in: query
        name: AnyProviderIdEquals
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        explode: true
        in: query
        name: Filters
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are marked as favorite, or not."
        explode: true
        in: query
        name: IsFavorite
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsMovie
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsSeries
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for news.
        explode: true
        in: query
        name: IsNews
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for kids.
        explode: true
        in: query
        name: IsKids
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for sports.
        explode: true
        in: query
        name: IsSports
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by MediaType. Allows multiple, comma delimited."
        explode: true
        in: query
        name: MediaTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        explode: true
        in: query
        name: ImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are played, or not."
        explode: true
        in: query
        name: IsPlayed
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Genres
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: OfficialRatings
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: Years
        required: false
        schema:
          type: string
        style: form
      - description: "Optional, include image information in output"
        explode: true
        in: query
        name: EnableImages
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, include user data"
        explode: true
        in: query
        name: EnableUserData
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, the max number of images to return, per image type"
        explode: true
        in: query
        name: ImageTypeLimit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The image types to include in the output.
        explode: true
        in: query
        name: EnableImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: Person
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: PersonIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        explode: true
        in: query
        name: PersonTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Studios
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: StudioIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Artists
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: ArtistIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Albums
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        explode: true
        in: query
        name: Ids
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by Container. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: Containers
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: AudioCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SubtitleCodecs
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by Path.
        explode: true
        in: query
        name: Path
        required: false
        schema:
          type: string
        style: form
      - description: User Id
        explode: true
        in: query
        name: UserId
        required: false
        schema:
          format: guid
          type: string
        style: form
      - description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MinOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are locked.
        explode: true
        in: query
        name: IsLocked
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are placeholders
        explode: true
        in: query
        name: IsPlaceHolder
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have official ratings
        explode: true
        in: query
        name: HasOfficialRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Whether or not to hide items behind their boxsets.
        explode: true
        in: query
        name: GroupItemsIntoCollections
        required: false
        schema:
          type: boolean
        style: form
      - description: "Optional filter by items that are 3D, or not."
        explode: true
        in: query
        name: Is3D
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SeriesStatus
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        explode: true
        in: query
        name: NameStartsWithOrGreater
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally than a
          given input string.
        explode: true
        in: query
        name: NameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is equally or lesser than
          a given input string.
        explode: true
        in: query
        name: NameLessThan
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
          description: Operation successful. Returning a QueryResult<TagItem> object.
        "400":
          description: Bad Request. Server cannot process request.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      summary: Gets items based on a query.
      tags:
      - TagService
      x-RequiredAuthentication: No authentication required
    summary: Gets items based on a query.
  /Channels:
    get:
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Item Information"
        url: https://github.com/MediaBrowser/Emby/wiki/Item-Information
      operationId: getChannels
      parameters:
      - description: User Id
        explode: true
        in: query
        name: UserId
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        explode: true
        in: query
        name: StartIndex
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The maximum number of records to return
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_BaseItemDto'
          description: Operation successful. Returning a QueryResult<BaseItemDto>
            object.
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      summary: Gets available channels
      tags:
      - ChannelService
      x-RequiredAuthentication: Requires authentication as user
    summary: Gets available channels
  /Collections:
    post:
      description: Requires authentication as user
      operationId: postCollections
      parameters:
      - description: Whether or not to lock the new collection.
        explode: true
        in: query
        name: IsLocked
        required: false
        schema:
          type: boolean
        style: form
      - description: The name of the new collection.
        explode: true
        in: query
        name: Name
        required: false
        schema:
          type: string
        style: form
      - description: Optional - create the collection within a specific folder
        explode: true
        in: query
        name: ParentId
        required: false
        schema:
          type: string
        style: form
      - description: Item Ids to add to the collection
        explode: true
        in: query
        name: Ids
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections.CollectionCreationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Collections.CollectionCreationResult'
          description: Operation successful. Returning a CollectionCreationResult
            object.
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      summary: Creates a new collection
      tags:
      - CollectionService
      x-RequiredAuthentication: Requires authentication as user
    summary: Creates a new collection
  /Containers:
    get:
      description: No authentication required
      operationId: getContainers
      parameters:
      - description: Artist or AlbumArtist
        explode: true
        in: query
        name: ArtistType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MaxOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items with theme songs.
        explode: true
        in: query
        name: HasThemeSong
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with theme videos.
        explode: true
        in: query
        name: HasThemeVideo
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with subtitles.
        explode: true
        in: query
        name: HasSubtitles
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with special features.
        explode: true
        in: query
        name: HasSpecialFeature
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with trailers.
        explode: true
        in: query
        name: HasTrailer
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional. Return items that are siblings of a supplied item.
        explode: true
        in: query
        name: AdjacentTo
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by minimum index number.
        explode: true
        in: query
        name: MinIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by minimum number of game players.
        explode: true
        in: query
        name: MinPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by maximum number of game players.
        explode: true
        in: query
        name: MaxPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by parent index number.
        explode: true
        in: query
        name: ParentIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by items that have or do not have a parental
          rating
        explode: true
        in: query
        name: HasParentalRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are HD or not.
        explode: true
        in: query
        name: IsHD
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: LocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeLocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are missing episodes or not.
        explode: true
        in: query
        name: IsMissing
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are unaired episodes or not.
        explode: true
        in: query
        name: IsUnaired
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by minimum community rating.
        explode: true
        in: query
        name: MinCommunityRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: Optional filter by minimum critic rating.
        explode: true
        in: query
        name: MinCriticRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: "Gets all episodes that aired during a season, including specials."
        explode: true
        in: query
        name: AiredDuringSeason
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSaved
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSavedForUser
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum premiere date. Format = ISO
        explode: true
        in: query
        name: MaxPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that have an overview or not.
        explode: true
        in: query
        name: HasOverview
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have an imdb id or not.
        explode: true
        in: query
        name: HasImdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tmdb id or not.
        explode: true
        in: query
        name: HasTmdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tvdb id or not.
        explode: true
        in: query
        name: HasTvdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        explode: true
        in: query
        name: StartIndex
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The maximum number of records to return
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        explode: true
        in: query
        name: Recursive
        required: false
        schema:
          type: boolean
        style: form
      - description: "Sort Order - Ascending,Descending"
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        explode: true
        in: query
        name: ParentId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        explode: true
        in: query
        name: Fields
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: IncludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        explode: true
        in: query
        name: AnyProviderIdEquals
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        explode: true
        in: query
        name: Filters
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are marked as favorite, or not."
        explode: true
        in: query
        name: IsFavorite
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsMovie
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsSeries
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for news.
        explode: true
        in: query
        name: IsNews
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for kids.
        explode: true
        in: query
        name: IsKids
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for sports.
        explode: true
        in: query
        name: IsSports
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by MediaType. Allows multiple, comma delimited."
        explode: true
        in: query
        name: MediaTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        explode: true
        in: query
        name: ImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are played, or not."
        explode: true
        in: query
        name: IsPlayed
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Genres
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: OfficialRatings
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: Years
        required: false
        schema:
          type: string
        style: form
      - description: "Optional, include image information in output"
        explode: true
        in: query
        name: EnableImages
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, include user data"
        explode: true
        in: query
        name: EnableUserData
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, the max number of images to return, per image type"
        explode: true
        in: query
        name: ImageTypeLimit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The image types to include in the output.
        explode: true
        in: query
        name: EnableImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: Person
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: PersonIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        explode: true
        in: query
        name: PersonTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Studios
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: StudioIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Artists
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: ArtistIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Albums
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        explode: true
        in: query
        name: Ids
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by Container. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: Containers
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: AudioCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SubtitleCodecs
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by Path.
        explode: true
        in: query
        name: Path
        required: false
        schema:
          type: string
        style: form
      - description: User Id
        explode: true
        in: query
        name: UserId
        required: false
        schema:
          format: guid
          type: string
        style: form
      - description: "Optional filter by minimum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MinOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are locked.
        explode: true
        in: query
        name: IsLocked
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are placeholders
        explode: true
        in: query
        name: IsPlaceHolder
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have official ratings
        explode: true
        in: query
        name: HasOfficialRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Whether or not to hide items behind their boxsets.
        explode: true
        in: query
        name: GroupItemsIntoCollections
        required: false
        schema:
          type: boolean
        style: form
      - description: "Optional filter by items that are 3D, or not."
        explode: true
        in: query
        name: Is3D
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by Series Status. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SeriesStatus
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally or greater
          than a given input string.
        explode: true
        in: query
        name: NameStartsWithOrGreater
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is sorted equally than a
          given input string.
        explode: true
        in: query
        name: NameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items whose name is equally or lesser than
          a given input string.
        explode: true
        in: query
        name: NameLessThan
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_UserLibrary.TagItem'
          description: Operation successful. Returning a QueryResult<TagItem> object.
        "400":
          description: Bad Request. Server cannot process request.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      summary: Gets items based on a query.
      tags:
      - TagService
      x-RequiredAuthentication: No authentication required
    summary: Gets items based on a query.
  /Devices:
    delete:
      description: No authentication required
      operationId: deleteDevices
      parameters:
      - description: Device Id
        explode: true
        in: query
        name: Id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Operation successful. Response content unknown.
        "400":
          description: Bad Request. Server cannot process request.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      summary: Deletes a device
      tags:
      - DeviceService
      x-RequiredAuthentication: No authentication required
    get:
      description: Requires authentication as administrator
      operationId: getDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult_Devices.DeviceInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/QueryResult_Devices.DeviceInfo'
          description: Operation successful. Returning a QueryResult<DeviceInfo> object.
        "400":
          description: Bad Request. Server cannot process request.
        "401":
          description: Unauthorized. Client needs to authenticate.
        "403":
          description: Forbidden. No permission for the reqested operation.
        "404":
          description: Resource not found or unavailable.
        "5XX":
          description: Server error.
      security:
      - apikeyauth: []
      - embyauth: []
      summary: Gets all devices
      tags:
      - DeviceService
      x-RequiredAuthentication: Requires authentication as administrator
    summary: Gets all devices
  /GameGenres:
    get:
      description: Requires authentication as user
      externalDocs:
        description: "API Documentation: Items by name"
        url: https://github.com/MediaBrowser/Emby/wiki/Items-by-name
      operationId: getGamegenres
      parameters:
      - description: Artist or AlbumArtist
        explode: true
        in: query
        name: ArtistType
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by maximum official rating (PG, PG-13, TV-MA,\
          \ etc)."
        explode: true
        in: query
        name: MaxOfficialRating
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items with theme songs.
        explode: true
        in: query
        name: HasThemeSong
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with theme videos.
        explode: true
        in: query
        name: HasThemeVideo
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with subtitles.
        explode: true
        in: query
        name: HasSubtitles
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with special features.
        explode: true
        in: query
        name: HasSpecialFeature
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items with trailers.
        explode: true
        in: query
        name: HasTrailer
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional. Return items that are siblings of a supplied item.
        explode: true
        in: query
        name: AdjacentTo
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by minimum index number.
        explode: true
        in: query
        name: MinIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by minimum number of game players.
        explode: true
        in: query
        name: MinPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by maximum number of game players.
        explode: true
        in: query
        name: MaxPlayers
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by parent index number.
        explode: true
        in: query
        name: ParentIndexNumber
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional filter by items that have or do not have a parental
          rating
        explode: true
        in: query
        name: HasParentalRating
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are HD or not.
        explode: true
        in: query
        name: IsHD
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: LocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on LocationType.\
          \ This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeLocationTypes
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that are missing episodes or not.
        explode: true
        in: query
        name: IsMissing
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that are unaired episodes or not.
        explode: true
        in: query
        name: IsUnaired
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by minimum community rating.
        explode: true
        in: query
        name: MinCommunityRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: Optional filter by minimum critic rating.
        explode: true
        in: query
        name: MinCriticRating
        required: false
        schema:
          format: double
          nullable: true
          type: number
        style: form
      - description: "Gets all episodes that aired during a season, including specials."
        explode: true
        in: query
        name: AiredDuringSeason
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSaved
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The minimum premiere date. Format = ISO
        explode: true
        in: query
        name: MinDateLastSavedForUser
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The maximum premiere date. Format = ISO
        explode: true
        in: query
        name: MaxPremiereDate
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter by items that have an overview or not.
        explode: true
        in: query
        name: HasOverview
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have an imdb id or not.
        explode: true
        in: query
        name: HasImdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tmdb id or not.
        explode: true
        in: query
        name: HasTmdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter by items that have a tvdb id or not.
        explode: true
        in: query
        name: HasTvdbId
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered by exxcluding\
          \ item ids. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemIds
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The record index to start at. All items with a lower
          index will be dropped from the results.
        explode: true
        in: query
        name: StartIndex
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The maximum number of records to return
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: "When searching within folders, this determines whether or not\
          \ the search will be recursive. true/false"
        explode: true
        in: query
        name: Recursive
        required: false
        schema:
          type: boolean
        style: form
      - description: "Sort Order - Ascending,Descending"
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          type: string
        style: form
      - description: Specify this to localize the search to a specific item or folder.
          Omit to use the root
        explode: true
        in: query
        name: ParentId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional fields of information to return\
          \ in the output. This allows multiple, comma delimeted. Options: Budget,\
          \ Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams,\
          \ Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio,\
          \ Revenue, SortName, Studios, Taglines"
        explode: true
        in: query
        name: Fields
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: ExcludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on item\
          \ type. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: IncludeItemTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, result will be filtered to contain only\
          \ items which match at least one of the specified IDs. Each provider ID\
          \ must be in the form 'prov.id', e.g. 'imdb.tt123456'. This allows multiple,\
          \ comma delimeted value pairs."
        explode: true
        in: query
        name: AnyProviderIdEquals
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify additional filters to apply. This allows multiple,\
          \ comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed,\
          \ IsFavorite, IsResumable, Likes, Dislikes"
        explode: true
        in: query
        name: Filters
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are marked as favorite, or not."
        explode: true
        in: query
        name: IsFavorite
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsMovie
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for movies.
        explode: true
        in: query
        name: IsSeries
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for news.
        explode: true
        in: query
        name: IsNews
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for kids.
        explode: true
        in: query
        name: IsKids
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Optional filter for sports.
        explode: true
        in: query
        name: IsSports
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional filter by MediaType. Allows multiple, comma delimited."
        explode: true
        in: query
        name: MediaTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on those\
          \ containing image types. This allows multiple, comma delimited."
        explode: true
        in: query
        name: ImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Specify one or more sort orders, comma delimeted.\
          \ Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating,\
          \ DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName,\
          \ Random, Revenue, Runtime"
        explode: true
        in: query
        name: SortBy
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by items that are played, or not."
        explode: true
        in: query
        name: IsPlayed
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional. If specified, results will be filtered based on genre.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Genres
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on OfficialRating.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: OfficialRatings
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on tag.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Tags
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on production\
          \ year. This allows multiple, comma delimeted."
        explode: true
        in: query
        name: Years
        required: false
        schema:
          type: string
        style: form
      - description: "Optional, include image information in output"
        explode: true
        in: query
        name: EnableImages
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, include user data"
        explode: true
        in: query
        name: EnableUserData
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Optional, the max number of images to return, per image type"
        explode: true
        in: query
        name: ImageTypeLimit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: Optional. The image types to include in the output.
        explode: true
        in: query
        name: EnableImageTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: Person
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered to include\
          \ only those containing the specified person."
        explode: true
        in: query
        name: PersonIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, along with Person, results will be filtered\
          \ to include only those containing the specified person and PersonType.\
          \ Allows multiple, comma-delimited"
        explode: true
        in: query
        name: PersonTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Studios
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on studio.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: StudioIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Artists
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on artist.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: ArtistIds
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, results will be filtered based on album.\
          \ This allows multiple, pipe delimeted."
        explode: true
        in: query
        name: Albums
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specific items are needed, specify a list of item\
          \ id's to retrieve. This allows multiple, comma delimited."
        explode: true
        in: query
        name: Ids
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoType (videofile, dvd, bluray, iso).\
          \ Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoTypes
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by Container. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: Containers
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by AudioCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: AudioCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by VideoCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: VideoCodecs
        required: false
        schema:
          type: string
        style: form
      - description: "Optional filter by SubtitleCodec. Allows multiple, comma delimeted."
        explode: true
        in: query
        name: SubtitleCodecs
        required: false
        schema:
[...]
