/*
Emby Server API

Explore the Emby Server API

API version: 4.1.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SearchServiceAPI interface {

	/*
	GetSearchHints Gets search hints based on a search term

	Requires authentication as user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSearchHintsRequest
	*/
	GetSearchHints(ctx context.Context) ApiGetSearchHintsRequest

	// GetSearchHintsExecute executes the request
	//  @return SearchSearchHintResult
	GetSearchHintsExecute(r ApiGetSearchHintsRequest) (*SearchSearchHintResult, *http.Response, error)
}

// SearchServiceAPIService SearchServiceAPI service
type SearchServiceAPIService service

type ApiGetSearchHintsRequest struct {
	ctx context.Context
	ApiService SearchServiceAPI
	searchTerm *string
	startIndex *int32
	limit *int32
	userId *string
	includePeople *bool
	includeMedia *bool
	includeGenres *bool
	includeStudios *bool
	includeArtists *bool
	includeItemTypes *string
	excludeItemTypes *string
	mediaTypes *string
	isMovie *bool
	isSeries *bool
	isNews *bool
	isKids *bool
	isSports *bool
}

// The search term to filter on
func (r ApiGetSearchHintsRequest) SearchTerm(searchTerm string) ApiGetSearchHintsRequest {
	r.searchTerm = &searchTerm
	return r
}

// Optional. The record index to start at. All items with a lower index will be dropped from the results.
func (r ApiGetSearchHintsRequest) StartIndex(startIndex int32) ApiGetSearchHintsRequest {
	r.startIndex = &startIndex
	return r
}

// Optional. The maximum number of records to return
func (r ApiGetSearchHintsRequest) Limit(limit int32) ApiGetSearchHintsRequest {
	r.limit = &limit
	return r
}

// Optional. Supply a user id to search within a user&#39;s library or omit to search all.
func (r ApiGetSearchHintsRequest) UserId(userId string) ApiGetSearchHintsRequest {
	r.userId = &userId
	return r
}

func (r ApiGetSearchHintsRequest) IncludePeople(includePeople bool) ApiGetSearchHintsRequest {
	r.includePeople = &includePeople
	return r
}

func (r ApiGetSearchHintsRequest) IncludeMedia(includeMedia bool) ApiGetSearchHintsRequest {
	r.includeMedia = &includeMedia
	return r
}

func (r ApiGetSearchHintsRequest) IncludeGenres(includeGenres bool) ApiGetSearchHintsRequest {
	r.includeGenres = &includeGenres
	return r
}

func (r ApiGetSearchHintsRequest) IncludeStudios(includeStudios bool) ApiGetSearchHintsRequest {
	r.includeStudios = &includeStudios
	return r
}

func (r ApiGetSearchHintsRequest) IncludeArtists(includeArtists bool) ApiGetSearchHintsRequest {
	r.includeArtists = &includeArtists
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r ApiGetSearchHintsRequest) IncludeItemTypes(includeItemTypes string) ApiGetSearchHintsRequest {
	r.includeItemTypes = &includeItemTypes
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r ApiGetSearchHintsRequest) ExcludeItemTypes(excludeItemTypes string) ApiGetSearchHintsRequest {
	r.excludeItemTypes = &excludeItemTypes
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r ApiGetSearchHintsRequest) MediaTypes(mediaTypes string) ApiGetSearchHintsRequest {
	r.mediaTypes = &mediaTypes
	return r
}

// Optional filter for movies.
func (r ApiGetSearchHintsRequest) IsMovie(isMovie bool) ApiGetSearchHintsRequest {
	r.isMovie = &isMovie
	return r
}

// Optional filter for movies.
func (r ApiGetSearchHintsRequest) IsSeries(isSeries bool) ApiGetSearchHintsRequest {
	r.isSeries = &isSeries
	return r
}

// Optional filter for news.
func (r ApiGetSearchHintsRequest) IsNews(isNews bool) ApiGetSearchHintsRequest {
	r.isNews = &isNews
	return r
}

// Optional filter for kids.
func (r ApiGetSearchHintsRequest) IsKids(isKids bool) ApiGetSearchHintsRequest {
	r.isKids = &isKids
	return r
}

// Optional filter for sports.
func (r ApiGetSearchHintsRequest) IsSports(isSports bool) ApiGetSearchHintsRequest {
	r.isSports = &isSports
	return r
}

func (r ApiGetSearchHintsRequest) Execute() (*SearchSearchHintResult, *http.Response, error) {
	return r.ApiService.GetSearchHintsExecute(r)
}

/*
GetSearchHints Gets search hints based on a search term

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchHintsRequest
*/
func (a *SearchServiceAPIService) GetSearchHints(ctx context.Context) ApiGetSearchHintsRequest {
	return ApiGetSearchHintsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchSearchHintResult
func (a *SearchServiceAPIService) GetSearchHintsExecute(r ApiGetSearchHintsRequest) (*SearchSearchHintResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchSearchHintResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchServiceAPIService.GetSearchHints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Search/Hints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchTerm == nil {
		return localVarReturnValue, nil, reportError("searchTerm is required and must be specified")
	}

	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StartIndex", r.startIndex, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Limit", r.limit, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "UserId", r.userId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "SearchTerm", r.searchTerm, "form", "")
	if r.includePeople != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludePeople", r.includePeople, "form", "")
	}
	if r.includeMedia != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeMedia", r.includeMedia, "form", "")
	}
	if r.includeGenres != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeGenres", r.includeGenres, "form", "")
	}
	if r.includeStudios != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeStudios", r.includeStudios, "form", "")
	}
	if r.includeArtists != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeArtists", r.includeArtists, "form", "")
	}
	if r.includeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeItemTypes", r.includeItemTypes, "form", "")
	}
	if r.excludeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeItemTypes", r.excludeItemTypes, "form", "")
	}
	if r.mediaTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MediaTypes", r.mediaTypes, "form", "")
	}
	if r.isMovie != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsMovie", r.isMovie, "form", "")
	}
	if r.isSeries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSeries", r.isSeries, "form", "")
	}
	if r.isNews != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNews", r.isNews, "form", "")
	}
	if r.isKids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsKids", r.isKids, "form", "")
	}
	if r.isSports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSports", r.isSports, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
